{% extends 'base.html' %}

{% load static %}

{% block content %}
   <div>
   <h1>Контакты</h1>
   <p class="lead">Грумер Ольга Viber +375295629294, Instagram soft_groom </p>
   </div>
   <div><h1>Как нас найти</h1>
   <p class="lead">Адрес: г.Солигорск, ул.Заслонова 59а, 3 этаж, кабинет №2 </p></div>

   <div id="map" class="z-depth-1-half map-container" style="height: 100px">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaae17e4ae4108d035d1d14fdbcd6224b2f7c39db29cc8a6ebb034388df154bb3&amp;source=constructor" width="200" height="100" frameborder="0"></iframe>
   </div>

{% endblock %} 

