{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog1.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog2.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog5.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog4.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog6.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog7.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/cat1.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog8.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="{% static 'app/img/dog9.jpg' %}" class="d-block w-20" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock %} 