{% extends 'base.html' %}

{% block content %}
<h2 class="u-text u-text-body-alt-color u-text-default u-text-1">Прайс-лист:</h2>
<h3 class="u-text u-text-body-alt-color u-text-default u-text-1">Стрижка:</h3>

<div class="col-sm-5">
<div class="u-repeater u-repeater-1" style="padding-left: 3%;">

        <h4 class="u-text u-text-default u-text-3">Йорк......................................................от 30 BYN</h4>

        <h4 class="u-text u-text-default u-text-5">Шпиц.....................................................от 35 BYN</h4>

        <h4 class="u-text u-text-default u-text-7">Мальтипу(карликовый пудель)....от 35 BYN</h4>

        <h4 class="u-text u-text-default u-text-9">Малый пудель.........................................45 BYN</h4>

        <h4 class="u-text u-text-default u-text-11">Шит цу...................................................от 30 BYN</h4>
  
        <h4 class="u-text u-text-default u-text-13">Кот................................................................30 BYN</h4>


</div>
</div>
<h3 class="u-text u-text-body-alt-color u-text-default u-text-1">Экспресс-линька:</h3>
<div class="col-sm-5">
<div class="u-repeater u-repeater-1" style="padding-left: 3%;">
  
        <h4 class="u-text u-text-default u-text-3">Мопс............................................................30 BYN</h4>

        <h4 class="u-text u-text-default u-text-5">Чихуахуа.....................................................30 BYN</h4>

        <h4 class="u-text u-text-default u-text-7">Джек рассел..............................................40 BYN</h4>

        <h4 class="u-text u-text-default u-text-9">Бигль............................................................40 BYN</h4>

        <h4 class="u-text u-text-default u-text-11">Французский бульдог.............................40 BYN</h4>

        <h4 class="u-text u-text-default u-text-13">Английский бульдог................................70 BYN</h4>

        <h4 class="u-text u-text-default u-text-13">Чао чао........................................................90 BYN</h4>

        <h4 class="u-text u-text-default u-text-13">Лабрадор....................................................90 BYN</h4>

        <h4 class="u-text u-text-default u-text-13">Хаски..........................................................100 BYN</h4>

</div>
</div>
{% endblock %} 



